{{- define "main" }}
{{- $posts := where site.RegularPages "Section" "blog" }}
{{- $posts = $posts | first 3 }}
{{- $postsHTML := "" }}
{{- if $posts }}
{{- $postsHTML = `<section class="card"><h2 class="card-heading">Latest Posts</h2><div class="recent-posts-list">` }}
{{- range $posts }}
{{- $postsHTML = printf `%s<a href="%s" class="recent-post-card"><span class="recent-post-title">%s</span><span class="recent-post-meta">%s</span></a>` $postsHTML .Permalink (htmlEscape .Title) (.Date.Format "2 Jan 2006") }}
{{- end }}
{{- $postsHTML = printf `%s</div><a href="/blog/" class="recent-posts-more">All posts &rarr;</a></section>` $postsHTML }}
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{ replace .Content "<!--LATEST_POSTS-->" $postsHTML | safeHTML }}
</div>
{{- end }}
{{- end }}
